@page "/"

<PageTitle>Advent Of Code Projects</PageTitle>

<div>Projects</div>

<div>
    <NavLink href="/elfcalories">Day 1: Calorie Counting</NavLink>
</div>
<div>
    <NavLink href="/rockpaperscissors">Day 1: Rock Paper Scissors</NavLink>
</div>
<div>
    <NavLink href="/rucksack">Day 1: Rucksack</NavLink>
</div>
<div>
    <NavLink href="/taskcounter">Day 1: Elf Tasks</NavLink>
</div>
<div>
    <NavLink href="/cratestacker">Day 1: Crate Stacker</NavLink>
</div>
