@page "/rockpaperscissors"
@using CalorieCountingElves.Project;

<style>
    .enter-input{
        padding: 8px;
        margin: 8px;
        border-radius: 4px;
        background-color: lightblue;
        width: min-content;
        height: min-content;
        white-space: nowrap;
    }

    .text-blocks{
        padding: 4px;
        margin: 4px;
    }

</style>

<div>Rock Paper Scissors</div>

<textarea @bind=@RockPaperScissorsProcessor.InputString />
<div class="enter-input" @onclick=@OnSubmitInput>Submit</div>

<div class="text-blocks">Answer: </div>
<div class="text-blocks">Strategy 1: @RockPaperScissorsAnswer1</div>
<br/>
<div class="text-blocks">Strategy 2: @RockPaperScissorsAnswer2</div>

@code{

    public RockPaperScissorsProcessor RockPaperScissorsProcessor = new RockPaperScissorsProcessor();

    public long? RockPaperScissorsAnswer1 { get; set; }
    public long? RockPaperScissorsAnswer2 { get; set; }

    public async void OnSubmitInput(MouseEventArgs args)
    {
        RockPaperScissorsAnswer1 = await Task.Run(() => RockPaperScissorsProcessor.GetScore(RockPaperScissorsProcessor));
        RockPaperScissorsAnswer2 = await Task.Run(() => RockPaperScissorsProcessor.GetScore2(RockPaperScissorsProcessor));
        InvokeAsync(StateHasChanged);
    }
}